@media (max-width: 640.98px) {
    #sidebar {
        width: 150px;
        text-align: center;
    }


        #sidebar .nav-link span {
            display: none;
        }

        #sidebar .nav-link i {
            margin: 0;
            font-size: 1.3rem;
        }

        #sidebar small {
            display: none;
        }


        #sidebar p.text-white {
            display: none;
        }
}
