@page "/professores"
<PageTitle>Professor</PageTitle>


  <div class="container py-5">
    <!-- Cabeçalho -->
    <div class="d-flex justify-content-between align-items-center mb-4">
      <h2 class="fw-bold">Professores</h2>
      <div>
        <button class="btn btn-primary">
          + Novo professor
        </button>
      </div>
    </div>

    <!-- Barra de pesquisa -->
    <div class="mb-4">
      <input type="text" class="form-control" placeholder="Pesquisar...">
    </div>

    <!-- Lista de professores -->
    <div class="list-group">
      <!-- Item -->
      <div class="list-group-item d-flex justify-content-between align-items-center shadow-sm rounded mb-3">
        <div>
          <h5 class="mb-1">Professor: Jefferson</h5>
          <small>Disciplina: Português</small>
        </div>
        <div class="d-flex gap-2">
          <button class="btn btn-outline-dark"><i class="bi bi-eye"></i></button>
          <button class="btn btn-primary">Editar</button>
          <button class="btn btn-danger"><i class="bi bi-trash"></i></button>
        </div>
      </div>

      <!-- Item -->
      <div class="list-group-item d-flex justify-content-between align-items-center shadow-sm rounded mb-3">
        <div>
          <h5 class="mb-1">Professor: João</h5>
          <small>Disciplina: Matemática</small>
        </div>
        <div class="d-flex gap-2">
          <button class="btn btn-outline-dark"><i class="bi bi-eye"></i></button>
          <button class="btn btn-primary">Editar</button>
          <button class="btn btn-danger"><i class="bi bi-trash"></i></button>
        </div>
      </div>

      <!-- Item -->
      <div class="list-group-item d-flex justify-content-between align-items-center shadow-sm rounded mb-3">
        <div>
          <h5 class="mb-1">Professor: Karan</h5>
          <small>Disciplina: Geografia</small>
        </div>
        <div class="d-flex gap-2">
          <button class="btn btn-outline-dark"><i class="bi bi-eye"></i></button>
          <button class="btn btn-primary">Editar</button>
          <button class="btn btn-danger"><i class="bi bi-trash"></i></button>
        </div>
      </div>

      <!-- Item -->
      <div class="list-group-item d-flex justify-content-between align-items-center shadow-sm rounded mb-3">
        <div>
          <h5 class="mb-1">Professor: Cleiton</h5>
          <small>Disciplina: Ciências</small>
        </div>
        <div class="d-flex gap-2">
          <button class="btn btn-outline-dark"><i class="bi bi-eye"></i></button>
          <button class="btn btn-primary">Editar</button>
          <button class="btn btn-danger"><i class="bi bi-trash"></i></button>
        </div>
      </div>
    </div>
  </div>

