@inherits LayoutComponentBase

<div class="d-flex" style="height:100vh;">
    <!-- 🔹 Sidebar -->
    <nav id="sidebar" class="sidebar text-white p-3 cor-fundo" style="width:15vw;">
        <NavLink href=""><img src="/assets/logo.png" alt="logo" class="d-block mx-auto"
                 style="filter: brightness(0) invert(1); height: 15%;" />
        </NavLink>
        <hr />
        <ul class="nav flex-column align-items-baseline" id="menu">
            <li>
                <NavLink class="nav-link text-white " href="" Match="NavLinkMatch.All">
                    <i class="bi bi-house-door-fill-nav-menu"></i>                    
                    Painel
                </NavLink>
            </li>
            <li>
                <NavLink class="nav-link text-white" href="disciplina">
                    Disciplina
                </NavLink>
            </li>
            <li>
                <NavLink class="nav-link text-white" href="turmas">
                    Turma
                </NavLink>
            </li>
            <li>
                <NavLink class="nav-link text-white" href="diario">
                    Diário
                </NavLink>
            </li>
            <li>
                <NavLink class="nav-link text-white" href="professores">
                    Professores
                </NavLink>
            </li>
            <li>
                <NavLink class="nav-link text-white" href="menu_matriculas">
                    Matriculas
                </NavLink>
            </li>
        </ul>
    </nav>

 
    <main class="flex-fill p-4 bg-light">
        @Body
    </main>
</div>
