@inherits LayoutComponentBase

<div class="d-flex" style="height:100vh;">
    <!-- 🔹 Sidebar -->
    <nav id="sidebar" class="sidebar text-white p-3 cor-fundo">
        <NavLink href=""><img src="/assets/logo.png" alt="logo" class="d-block mx-auto"
                 style="filter: brightness(0) invert(1); height: 15%;" />
        </NavLink>
        <hr />
        <ul class="nav flex-column nav-pills w-100" id="menu">
            <li class="w-100">
                <NavLink class="nav-link text-white rounded text-start" href="/" Match="NavLinkMatch.All">                    
                    Painel
                </NavLink>
            </li>
            <li class="w-100">
                <NavLink class="nav-link text-white rounded text-start" href="/disciplina">
                    Disciplina
                </NavLink>
            </li>
            <li class="w-100">
                <NavLink class="nav-link text-white rounded text-start" href="/turmas">
                    Turma
                </NavLink>
            </li>
            <li class="w-100">
                <NavLink class="nav-link text-white rounded text-start" href="/diario">
                    Diário
                </NavLink>
            </li>
            <li class="w-100">
                <NavLink class="nav-link text-white rounded text-start" href="/professores">
                    Professores
                </NavLink>
            </li>
            <li class="w-100">
                <NavLink class="nav-link text-white rounded text-start" href="/menu_matriculas">
                    Matrículas
                </NavLink>
            </li>
        </ul>
    </nav>

 
    <main class="flex-fill p-4 bg-light">
        @Body
    </main>
</div>
