@page "/detalhes_turma"
<PageTitle>Detalhes da Turma</PageTitle>

<div class="container py-5">
    <h3 class="mb-4 fw-normal text-dark text-center">Detalhes da Turma</h3>

    <div class="card shadow-sm border-0 p-4">
        <dl class="row mb-0">
            <dt class="col-sm-3">Nome da Turma:</dt>
            <dd class="col-sm-9">Turma A</dd>

            <dt class="col-sm-3">Ano/Série:</dt>
            <dd class="col-sm-9">1º Ano</dd>

            <dt class="col-sm-3">Turno:</dt>
            <dd class="col-sm-9">Matutino</dd>

            <dt class="col-sm-3">Professor Responsável:</dt>
            <dd class="col-sm-9">Prof. João</dd>

            <dt class="col-sm-3">Disciplinas:</dt>
            <dd class="col-sm-9">Matemática, Física</dd>

            <dt class="col-sm-3">Quantidade de Alunos:</dt>
            <dd class="col-sm-9">32</dd>
        </dl>
        <div class="text-center mt-4">
            <a href="turmas" class="btn btn-outline-primary">Voltar</a>
        </div>
    </div>
</div>
