@page "/plano-aula"
<PageTitle>Planos de Aula</PageTitle>

<div class="container py-5">
    <h3 class="mb-4 fw-normal text-dark text-center">Planos de Aula - 3B Informática</h3>

    <div class="card shadow-sm border-0 p-4">
        <div class="d-flex justify-content-between mb-3">
            <a href="diarios/menu" class="btn btn-secondary">Voltar</a>
            <button class="btn btn-success">Novo Plano</button>
        </div>

        <table class="table table-bordered align-middle">
            <thead class="table-light">
                <tr>
                    <th>Data</th>
                    <th>Disciplina</th>
                    <th>Tema</th>
                    <th>Objetivos</th>
                    <th>Professor</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>07/10/2025</td>
                    <td>Redes de Computadores</td>
                    <td>Endereçamento IP</td>
                    <td>Compreender classes de IP e máscaras de sub-rede</td>
                    <td>Prof. João</td>
                </tr>
                <tr>
                    <td>06/10/2025</td>
                    <td>Português</td>
                    <td>Interpretação de Texto</td>
                    <td>Identificar informações implícitas</td>
                    <td>Prof. Maria</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
