@page "/relatorios/relatorio"
<PageTitle>Relatório de Matrículas</PageTitle>


<h3>Gerar Relatório de Matrícula</h3>

<div class="card p-4 shadow-sm">

    <label class="form-label fw-bold">Selecione o aluno:</label>

    <select class="form-select" @bind="AlunoSelecionadoId">
        <option value="">-- Escolha um aluno --</option>

        @foreach (var aluno in ListaAlunos)
        {
            <option value="@aluno.Id">@aluno.Nome</option>
        }
    </select>

    <button class="btn btn-primary mt-3" @onclick="GerarRelatorio"
            disabled="@string.IsNullOrEmpty(AlunoSelecionadoId)">
        Gerar Documento de Matrícula
    </button>

</div>

@code {
    private string? AlunoSelecionadoId;

    private List<Aluno> ListaAlunos = new()
    {
        new Aluno { Id = "1", Nome = "Ana Júlia Ferreira", NumeroMatricula = "2025-001", DataMatricula = new DateTime(2025,02,10), Situacao="Ativa" },
        new Aluno { Id = "2", Nome = "Lucas Barbosa da Silva", NumeroMatricula = "2025-002", DataMatricula = new DateTime(2025,02,10), Situacao="Ativa" },
        new Aluno { Id = "3", Nome = "Maria Eduarda Santos", NumeroMatricula = "2025-003", DataMatricula = new DateTime(2025,02,11), Situacao="Ativa" }
    };

    private void GerarRelatorio()
    {
        NavigationManager.NavigateTo($"/relatorios/matriculas/{AlunoSelecionadoId}");
    }

    [Inject]
    private NavigationManager NavigationManager { get; set; } = default!;

    public class Aluno
    {
        public string Id { get; set; }
        public string Nome { get; set; }
        public string NumeroMatricula { get; set; }
        public DateTime DataMatricula { get; set; }
        public string Situacao { get; set; }
    }
}


